// Typography
///////////////////////////////////////////////////////////////////////////////
$sans-serif: $helvetica;
$serif: $georgia;

$base-font-family: $sans-serif;
$header-font-family: $base-font-family;
$headline-font-family: 'Arvo', $sans-serif;
$subheadline-font-family: 'Carrois Gothic', $sans-serif; 

// Sizes
///////////////////////////////////////////////////////////////////////////////
$base-font-size: 1em;
$base-line-height: $base-font-size * 1.5;
$base-border-radius: em(3);

// Colors
///////////////////////////////////////////////////////////////////////////////

$blue: #477DCA;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #DDD;
$light-red: #FBE3E4;
$light-yellow: #FFF6BF;
$light-green: #E6EFC2;
$dusty-blue: #5681DE;
$goldenrod: #F5BE0A;
$hot-salmon: #FF124D;
$light-turquoise: #2FB9E8;
$electric-green: #00E820;
$muse-blue: #53b6d0;

// Tweet Hex Colors
$new-tweet-color: $goldenrod;
$junior-color: $electric-green;
$musing-color: #000;

$by-friend-base-color: $hot-salmon;
$by-friend-1-color: $by-friend-base-color;
$by-friend-2-color: tint($by-friend-base-color, 20);
$by-friend-3-color: shade($by-friend-base-color, 20);

$by-stranger-base-color: $light-turquoise;
$by-stranger-1-color: $by-stranger-base-color;
$by-stranger-2-color: tint($by-stranger-base-color, 20);
$by-stranger-3-color: shade($by-stranger-base-color, 20);

//  Font Colors
$base-font-color: $dark-gray;
$base-accent-color: $blue;
$headline-color: $dusty-blue;
$musing-text-color: $muse-blue;

// Body Color
$base-body-color: lighten($headline-color, 35);

// Button Color
$isotope-button-color: lighten($headline-color, 20);

//  Text Link Colors
$base-link-color: white;
$hover-link-color: darken($base-link-color, 35);

// Border color
$base-border-color: $light-gray;

// Flash Colors
$error-color: $light-red;
$notice-color: $light-yellow;
$success-color: $light-green;

// Forms
$form-border-color: $base-border-color;
$form-border-color-hover: darken($base-border-color, 10);
$form-border-color-focus: $base-accent-color;
$form-border-radius: $base-border-radius;
$form-box-shadow: inset 0 1px 3px rgba(0,0,0,0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px rgba(darken($form-border-color-focus, 5), 0.7);
$form-font-size: $base-font-size;
$form-font-family: $base-font-family;

// Buttons
$button-style: simple;

// Header
$header-margin: 60px;
$header-margin-mobile: 20px;

// Mobile Typography

$mobile-font-size: $base-font-size * 0.7;
$mobile-line-height: $mobile-font-size * 2.8;
