#header
  %h1 DevJobs(?)Tweets
#tweets-container
  #friends-tweets
    %h2.title From Following
    = render partial: 'tweets', locals: {tweets: @friends_tweets}
  #strangers-tweets
    %h2.title From Searching
    = render partial: 'tweets', locals: {tweets: @strangers_tweets}