#header {
  @include span-columns(12);
  @include row(table);
  h1 {
    margin-left: $header-margin;
    font-family: $headline-font-family;
    color: $headline-color;
  }
  h5 {
    margin-left: $header-margin;
    margin-bottom: 10px;
  }
  span {
    font-size: 20px;
  }
  h3 {
    margin-bottom: 10px;
  }
  #color-key {
    margin-top: 20px;
    margin-left: $header-margin;
    .color-div {
      display: inline-block;
      width: 20px;
      height: 20px;
      vertical-align: top;
      &#new {
        background-color: $new-tweet-color;
      }
      &#junior {
        background-color: $junior-color;
      }
      &#by-friend-1 {
        background-color: $by-friend-1-color;
      }
      &#by-friend-2 {
        background-color: $by-friend-2-color;
      }
      &#by-friend-3 {
        background-color: $by-friend-3-color;
      }
      &#by-stranger-3 {
        background-color: $by-stranger-3-color;
      }
      &#by-stranger-2 {
        background-color: $by-stranger-2-color;
      }
      &#by-stranger-1 {
        background-color: $by-stranger-1-color;
      }
    }
  }
  #filters-container {
    margin-left: $header-margin;
  }
  .active-button {
    color: blue;
  }
}