#archive-header {
  margin-top: 50px;
  margin-left: 75px;
  margin-right: 75px;
  @include media($large-screen-down) {
    margin: 20px 0 0 0;
  }
  #archive-title {
    font-family: $headline-font-family;
    font-size: $headline-font-size;
    color: $headline-color;
    line-height: 1.1;
    margin-bottom: 10px;
    @include media($large-screen-down) {
      text-align: center;
    }
  }
  #archive-notice {
    font-size: $color-key-font-size;
  }
}