body {
  background-color: $base-body-color;
  .non-desktop-no-show {
    @include media($large-screen-down) {
      display: none;
    }
  }
  .non-desktop-only {
    display: none;
    @include media($large-screen-down) {
      display: initial;
    }
  }
  .mobile-no-show {
    @include media($mobile-screen) {
      display: none;
    }
  }
  .mobile-only {
    display: none;
    @include media($mobile-screen) {
      display: initial;
    }
  }
}