// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.tweet-hex {
  width: 250px;
  height: 138px;
/*  background: #77E8C2;
*/  position: relative;
  margin: 70px 10px;
  display: inline-block;
  vertical-align: top;
  &:before {
    content: "";
    position: absolute;
    top: -63px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 125px solid transparent;
    border-right: 125px solid transparent;
    border-bottom: 63px solid #77E8C2;
    z-index: -1000;
  }
  &:after {
    content: "";
    position: absolute;
    bottom: -63px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 125px solid transparent;
    border-right: 125px solid transparent;
    border-top: 63px solid #77E8C2;
    z-index: -1000;
  }
  .tweet-contents {
    margin-top: -60px;
    padding: 20px;
    overflow: hidden;
    .tweeter-avatar {
      text-align: center;
      img {
        border-radius: 6px;
        margin: 2px;
      }
    }
    .tweeter-handle {
      font-weight: bold;
      text-align: center;
    }
  }
}



#tweets-container {
  padding: 20px;
  @include span-columns(11);
  @include shift(1);
  .title {
    text-align: center;
    font-family: $subheadline-font-family;
  }
  .tweet-hex-new-tweet {
    @extend .tweet-hex;
    background-color: $new-tweet-color;
    &:before {
      border-bottom: 63px solid $new-tweet-color;
    }
    &:after {
      border-top: 63px solid $new-tweet-color;
    }
  }
  .tweet-hex-junior {
    @extend .tweet-hex;
    background-color: $junior-color;
    &:before {
      border-bottom: 63px solid $junior-color;
    }
    &:after {
      border-top: 63px solid $junior-color;
    }
  }
  .tweet-hex-by-friend-1 {
    @extend .tweet-hex;
    background-color: $by-friend-1-color;
    &:before {
      border-bottom: 63px solid $by-friend-1-color;
    }
    &:after {
      border-top: 63px solid $by-friend-1-color;
    }
  }
  .tweet-hex-by-friend-2 {
    @extend .tweet-hex;
    background-color: $by-friend-2-color;
    &:before {
      border-bottom: 63px solid $by-friend-2-color;
    }
    &:after {
      border-top: 63px solid $by-friend-2-color;
    }
  }
  .tweet-hex-by-friend-3 {
    @extend .tweet-hex;
    background-color: $by-friend-3-color;
    &:before {
      border-bottom: 63px solid $by-friend-3-color;
    }
    &:after {
      border-top: 63px solid $by-friend-3-color;
    }
  }
  .tweet-hex-by-stranger-1 {
    @extend .tweet-hex;
    background-color: $by-stranger-1-color;
    &:before {
      border-bottom: 63px solid $by-stranger-1-color;
    }
    &:after {
      border-top: 63px solid $by-stranger-1-color;
    }
  }
  .tweet-hex-by-stranger-2 {
    @extend .tweet-hex;
    background-color: $by-stranger-2-color;
    &:before {
      border-bottom: 63px solid $by-stranger-2-color;
    }
    &:after {
      border-top: 63px solid $by-stranger-2-color;
    }
  }
  .tweet-hex-by-stranger-3 {
    @extend .tweet-hex;
    background-color: $by-stranger-3-color;
    &:before {
      border-bottom: 63px solid $by-stranger-3-color;
    }
    &:after {
      border-top: 63px solid $by-stranger-3-color;
    }
  }
}