// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#tweets-container {
  padding: 20px;
  #friends-tweets, #strangers-tweets {
    @include span-columns(6);
    .title {
      text-align: center;
      font-family: $subheadline-font-family;
    }
  }
  .tweet-hex {
    /*width: 200px;
    height: 210px;
    margin: 5px;
    padding: 10px;
    border-radius: 20px;
    vertical-align: top;
    display: inline-block;
    background-color: #77E8C2;*/
    width: 250px;
    height: 138px;
    background: #77E8C2;
    position: relative;
    margin: 150px 10px;
    display: inline-block;
    &:before {
      content: "";
      position: absolute;
      top: -63px;
      left: 0;
      width: 0;
      height: 0;
      border-left: 125px solid transparent;
      border-right: 125px solid transparent;
      border-bottom: 63px solid #77E8C2;
      z-index: -1000;
    }
    &:after {
      content: "";
      position: absolute;
      bottom: -63px;
      left: 0;
      width: 0;
      height: 0;
      border-left: 125px solid transparent;
      border-right: 125px solid transparent;
      border-top: 63px solid #77E8C2;
      z-index: -1000;
    }
    .tweet-contents {
      margin-top: -60px;
      padding: 20px;
      overflow: hidden;
      .tweeter-avatar {
        text-align: center;
        img {
          border-radius: 6px;
          margin: 2px;
        }
      }
      .tweeter-handle {
        font-weight: bold;
        text-align: center;
      }
    }
  }
}








.tweet-hex {
  width: 100px;
  height: 55px;
  background: #77E8C2;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    top: -25px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 25px solid #77E8C2;
  }
  &:after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 25px solid #77E8C2;
  }
}

/*
.tweet-hex:before {
  content: "";
  position: absolute;
  top: -25px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 25px solid #77E8C2;
}
.tweet-hex:after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 25px solid #77E8C2;
}
*/